.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
}

.footer > span {
    font-size: 1.1rem;
    font-weight: 300;
}

.logo {
    max-width: 75px;
    max-height: 40px;
}